html, body {
  height: 100%;
  width: 100%;
}

.mainContainer {
  width: 85%;
  height: 85%;
  margin: 15px auto;
  margin-bottom: 0px;
  background: #EAE5E5;
}

header {
  height: 15%;
  margin: 0px 65px;
  /* border: 1px solid black; */
}

.headerBox {
  display: flex;
  height: 100%;
}

.nameBox {
  font-size: 25px;
}

nav {
  display: flex;
  height: 85%;
  width: 60%;
  justify-content: space-around;
  align-items: flex-end;
  /* border: 1px solid black; */
}

.color {
  color: #60D0D4;
}

.mainBox {
  display: flex;
  justify-content: space-around;
  height: 70%;
  margin: 35px 0 35px 0;
  /* border: 1px solid black; */
}

.bigPic {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.bigOne {
  height: 95%;
  width: 95%;
  /* border: 1px solid black; */
  border-radius: 50%;
}

.rightStuff {
  width: 45%;
  /* border: 1px solid black; */
}

.hello {
  height: 20%;
  font-size: 65px;
}

.aBit {
  height: 17%;
  font-size: 35px;
}

.circleBox {
  display: flex;
  justify-content: space-between;
  height: 28%;
  width: 100%;
}

.circle {
  height: 100%;
  width: 30%;
  /* border: 1px solid black; */
  border-radius: 50%;
}

.circle1 {
  background: #E83456;
}

.circle2 {
  background: #60D0D4;
}

.circle3 {
  background: #D1CA25;
}

.tinyText {
  margin-top: 25px;
  font-size: 16px;
}

footer {
  height: 15%;
  background: #E83456;
  /* border: 1px solid black; */
}