html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Archivo Black', sans-serif;
}

.background {
  height: 100%;
  width: 100%;
  background-image: url(./BackgroundFirstTry.JPG);
  background-size: cover;
}

.overlay {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: #252934c2; */
  background-color: #25293496;
}

.mainBox {
  width: 100%;
  height: 100%;
}

.titleBox {
  width: 450px;
  height: 305px;
  margin: 45px auto 0 auto;
  color: white;
  font-size: 78px;
  text-align: center;
  border: 1px solid white;
  /* border-bottom: none; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: width 1s;
}

.titleBoxTab {
  width: 95%;
  height: 95px;
  background: rgba(255, 255, 255, 0.644);
  font-size: 27px;
  border-bottom: none;
}

.first {
  height: 10px;
  margin-top: 2px;
  font-size: 175px;
  height: 155px;
}

.firstTab {
  height: 50px;
  font-size: 60px;
}

.webDev {
  font-size: 35px;
  margin-bottom: 10px;
}

.webDevTab {
  display: none;
}

.webby {
  border-bottom: 1px solid  white;
  margin: 10px;
}

.webbyTab {
  width: 15%;
  margin: 0 auto;
}

.tabs {
  height: 20px;
  width: 450px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 20px;
  color: #69717B;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0;
  transition: width 1s;
}

.tabsTab {
  width: 95%;
}

.tabBox {
  height: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Archivo', sans-serif;
}

button {
  height: 100%;
  width: 25%;
  font-size: 14px;
  color: white;
  /* border-right: 1px solid #69717B; */
  border: 1px solid white;
  border-top: none;
  border-right: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background:rgba(105, 113, 123, 0);
  /* transition: transform .1s; */
}

button:hover {
  color: #69717B;
  background: white;
}

.buttonTab {
  color: #69717B;
  background: white;
  transform: scale(1.3);
  transform-origin: 0% 0%;
}

/* #about {
  transform-origin: 0% 0%;
}

#portfolio {
  transform-origin: 50% 0%;;
}

#blog {
  transform-origin: 75% 0%;
}

#contact {
  transform-origin: 100% 0%;
} */

div[role="tabpanel"] {
  height: 545px;
  background: rgba(255, 255, 255, 0.644);
  border-right: 1px solid white;
  border-left: 1px solid white;
  /* transition: 1s; */
}

/* #about:hover {
  transform: scale(1.2);
  transform-origin: 0% 0%;
}

#portfolio:hover {
  transform: scale(1.2);
  transform-origin: 50% 0%;
  border-left: 1px solid #69717B;
}

#blog:hover {
  transform: scale(1.2);
  transform-origin: 75% 0%;
  border-left: 1px solid #69717B;
}

#contact:hover {
  transform: scale(1.2);
  transform-origin: 100% 0%;
  border-left: 1px solid #69717B;
  border-right: 1px solid #69717B;
} */

#contact {
  border-right: 1px solid white;
}

@media (max-width: 375px) {
  .mainBox {
    width: 375px;
  }

  .titleBox {
    width: 325px;
    height: 225px;
    margin: 25px auto 0 auto;
    font-size: 55px;
  }

  .first {
    height: 110px;
    font-size: 125px;
  }

  .webDev {
    font-size: 25px;
  }

  .tabs {
    width: 325px;
  }
}