:root {
  --onWhite: #69717B;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Archivo Black', sans-serif;
}

.background {
  height: 100%;
  width: 100%;
  background-image: url(./BackgroundFirstTry.JPG);
  background-size: cover;
}

.overlay {
  /* display: flex; */
  width: 100%;
  height: 100%;
  /* background-color: #252934c2; */
  background-color: #25293496;
}

.whiteSpace {
  background: rgba(255, 255, 255, 0.438);
}

.tabs {
  height: 25px;
  width: 650px;
  margin: 0 auto;
  font-size: 15px;
  font-family: 'Archivo', sans-serif;
  line-height: 20px;
  /* background: white; */
  /* color: #69717B; */
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0;
  transition: width 1s;
}

.tabBox {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

a {
  height: 100%;
  width: 25%;
  padding-top: 2px;
  font-size: 14px;
  background: white;
  color: #69717B;
  /* color: white; */
  /* border-right: 1px solid #69717B; */
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid;
  /* border-bottom-right-radius: 5px; */
  /* border-bottom-left-radius: 5px; */
  /* background:rgba(105, 113, 123, 0); */
  /* transition: transform .1s; */
}

a:hover {
  color: white;
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid white;
}

.contact {
  border-right: 1px solid white;
}

.mainBox {
  width: 100%;
  height: 100%;
  padding-top: 75px;
}

.titleBox {
  width: 650px;
  height: 435px;
  margin: 0 auto;
  color: rgb(105, 113, 123);
  font-size: 120px;
  text-align: center;
  /* border-top: 1px solid white; */
  /* border-bottom: 1px solid #69717B; */
  transition: width 1s;
}

.first {
  height: 225px;
  /* margin-top: 2px; */
  font-size: 275px;
}

.webby {
  border-bottom: 1px solid  #69717B;
  margin-top: 10px;
}

.webDev {
  font-size: 55px;
  padding: 10px 0px;
}


@media (max-width: 375px) {
  .mainBox {
    width: 375px;
  }

  .titleBox {
    width: 325px;
    height: 225px;
    margin: 25px auto 0 auto;
    font-size: 55px;
  }

  .first {
    height: 110px;
    font-size: 125px;
  }

  .webDev {
    font-size: 25px;
  }

  .tabs {
    width: 325px;
  }
}